.button-container {
padding-bottom: 16px;
padding-left: 16px;
  }

.zone-container {
  padding-top: 16px;
  padding-left: 16px;
}

  table {
    width: 100%;
  }

  .add-button + .add-button {
    margin-left: 8px;
  }