<mat-toolbar color="primary">
    <span>MakeItRain</span>
</mat-toolbar>
  
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <button mat-button color="primary" class="table-buttons" (click)="setView('zones')">Zones</button>
      <br>
      <button mat-button color="primary" class="table-buttons" (click)="setView('settings')">Settings</button>
      
    </mat-drawer>
    <mat-drawer-content>
      <div [ngSwitch]="display_content">
        <div *ngSwitchCase="'zones'"><app-zones></app-zones></div>
        <div *ngSwitchCase="'settings'"><app-settings></app-settings></div>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
  